<html>
  <body>
    <p>Hi {{first_name}},</p>
    <p>I hope you're doing well. I wanted to reach out from {{company}} about an opportunity that could help your team with {{pain_point}}.</p>
    <p>We've helped companies like <strong>{{example_customer}}</strong> achieve <strong>{{result}}</strong> in just a few weeks.</p>
    <p>Would you be open to a 15-minute call next week to explore this?</p>
    <p>Best regards,<br>{{sender_name}}<br>{{sender_title}}<br>{{sender_email}}</p>
  </body>
</html>
